pydantic-settings
langchain-ollama
langchain-google-genai
langchain-ollama
langchain-google-genai
faiss-cpu
langchain-community
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
fastapi
uvicorn
slowapi
python-multipart
pypdf
pytesseract
pdf2image
pymupdf
langsmith
cachetools
psycopg-pool
requests
beautifulsoup4